/* 
TIPOGRAFIAS 
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);


/* 
VALORES GENERALES 
*/

.col-main { color: #008EC4; }
.col-bg-main { background-color: #008EC4; }

.col-white { color: white; }

.col-bg-gray { color: #ECECEC; }

/* Western Pacific (Verde) */
.col-wp { color: #7AB73A; } /* RGB: 119,171,115 */
.col-bg-wp { background-color: #7AB73A; } /* RGB: 119,171,115 */

/* South East Asia (Azul) */
.col-sea { color: #5376A0; } /* RGB: 82,118,160 */
.col-bg-sea { background-color: #5376A0; } /* RGB: 82,118,160 */

/* Europe (Violeta) */
.col-eu { color: #995080; } /* RGB: 153,80,128 */
.col-bg-eu { background-color: #995080; } /* RGB: 153,80,128 */

/* Eastern Mediterranean (Amarillo) */
.col-em { color: #F5E38A; } /* RGB: 245,227,138 */
.col-bg-em { background-color: #F5E38A; } /* RGB: 245,227,138 */

/* Americas (Naranja) */
.col-am { color: #EF9169; } /* RGB: 239,145,105 */
.col-bg-am { background-color: #EF9169; } /* RGB: 239,145,105 */

/* Africa (Rojo) */
.col-af { color: #D5716A; } /* RGB: 213,113,106  */
.col-bg-af { background-color: #D5716A; } /* RGB: 213,113,106  */





/* 
TAGS PRINCIPALES 
*/
body {
  background-color: #fff;
  color: #8C8C8C;
  text-align: left;
  font-family: 'Droid Serif', sans-serif;
}

h1, h2, h3, h4, h5, h6 { color: #000000; }


h1 {
  color:#fff;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Droid Sans';
  font-size: 13px;
  background-color: #008EC4; 
  /*letter-spacing: -0.5px;*/
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 7px;
  padding-left: 40px;  
  display: inline-block;
}

h2 {
  /*border-bottom: 1px dotted rgba(0,0,0,.2);*/
  color:#008EC4;
  font-size: 30px;
  font-weight: 400;
  padding: 0 40px; 
}

h3 {
  color:#000;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  padding: 0 40px; 
  margin-top: 0px;  
}

h4 {
  color:#4c4c4c;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Droid Sans';
  text-transform: uppercase;
  line-height: 16px;
  padding: 0 40px; 
}

p.mays {
  color: #8C8C8C;
  font-size: 12px;
  font-family: 'Droid Sans';
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 40px;   

}

p {
  color: #8C8C8C;
  font-size: 12px;
  font-family: 'Droid Sans';
  font-weight: 400;
  padding: 0 40px; 

}

.indicator {
  color: #008EC4;
  font-size: 110px;
  font-weight: 700;

}

caption {
  color: #8C8C8C;
  font-size: 11px;
  font-family: 'Droid Sans';
  font-weight: 400;

}

a {
  color:white;
  background-color: #4c4c4c;
  padding: 2px 4px;
  font-style: italic
}

li {
  margin: 8px 10px;
  padding: 0 6px; 
  color: #8C8C8C;
  font-size: 12px;
  font-family: 'Droid Sans';
  font-weight: 400;
  text-align: left;
}

i {
  margin-right: 10px; 
}

canvas {
  margin-bottom: 20px;
}


/*
CLASES PRINCIPALES
*/
.viz {
  padding-bottom: 60px;
  border-bottom: 1px dotted rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.viz:nth-child(2n) {
  background-color: #ECECEC;
}

/*
AUTOR
*/

.header {
  padding: 25px;
  text-align: left;
}

